<h3>@ViewBag.Message</h3>

<p>Contributeurs</p>
<ul>
    <li>Raphael BAZZARI</li>
    <li>Eric BOUSBAA</li>
    <li>Antoine DESSAUGES</li>
    <li>Loic DESSAULES</li>
    <li>Struan FORSYTH</li>
    <li>Ilias GOUJGALI</li>
    <li>Doran KAYOUMI</li>
    <li>Thomas MARCOUP</li>
    <li>Fabio-Manuel MARQUES</li>
    <li>Thomas RICCI</li>
    <li>Esteban SOTILLO</li>
</ul>
