@{
    ViewBag.Title = "Accueil";
}

<div class="container">
    <h1>Cliquez les lignes pour les faire disparaître</h1>
    <div>
        <p class="killable">Ligne One</p>
        <p class="killable">Ligne Two</p>
        <p class="killable">Ligne Three</p>
    </div>
</div>



@section page_specific_js 
    {
        <script src="~/MyJavascript/myyjs.js";></script>
    }