<h2>Dashboard</h2>
@Html.Partial("~/Views/Projects/_MyProjects.cshtml")
@Html.Partial("~/Views/Jobs/_MyJobs.cshtml")
@section scripts {
    <script src="~/Scripts/App/jobStatusManagement.js"></script>
}